body {
  margin: 0;
  overflow: hidden;
}

.gallery-container {
  position: relative;
}

canvas {
  display: block;
  margin: auto;
  border: 2px solid #000;
}

#artInfo {
  text-align: center;
  margin-top: 10px;
}

button {
  display: block;
  margin: 10px auto;
}
